@icon-font-path:    "../../webjars/bootstrap/fonts/";

@import "header.less";
@import "typography.less";
@import "responsive.less";
@import "colors.less";

#endofline-home{
  background:url(../resources/static/resources/images/eol.png)left top;
  width:16px;
  height:16px;
  display: block;
  float: left;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.help-icon{
  font-size: 20px;
  color: grey;
  position:absolute;
  left: -25px;
}

.help-icon:hover{
  color: darkgrey;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.energy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.margins-small {
  margin: 1em;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 50%;
    aspect-ratio: 1 / 1;
}

.row {
  flex-grow: 1;
  display: flex;
}

.card {
  position: relative;
  flex-grow: 1;
  border: darkgrey solid 2px;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0.2em;
}

.energy-card {
  cursor: pointer;
}

.card img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-slot {
  display:block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.deck {
  flex-grow: 1;
  border: darkgrey solid 2px;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0.2em;
  background-color: darkgrey;
  position: relative;
}

.deck p {
  display: block;
  font-size: 170%;
  font-weight: bold;
  color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 15%;
}

.hand-card{
  cursor: pointer;
}

.rotate-button{
  position: absolute;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  left: 5%;
  top: 5%
}

.rotate-button:hover{
  background: darkgrey;
}

.rotated-card-0 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotated-card-1 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotated-card-2 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotated-card-3 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.rotated-energy-0 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotated-energy-1 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rotated-energy-2 {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.disabled-card-slot{
  pointer-events: none;
}

.enabled-card-slot{
  cursor: pointer;
  background: darkgrey;
}

.player-1{
  background-color: lightblue;
}

.player-1-selected{
  background-color: cornflowerblue;
}

.player-2{
  background-color: pink;
}

.player-2-selected{
  background-color: deeppink;
}
